.top-section {
    padding: 5% 0;
    height: 40vh;
    text-align: center;
    display: block;
}

/* Art and Exhibition Section */

.card {
    margin-bottom: 10% !important;
    margin: auto;
    width: 16rem !important;
}

.card:hover {
    transform: scale(1.05);
    cursor: pointer;
}

.display-container {
    padding: 2% 10%;
}

.display-container h1 {
    margin-bottom: 4%;
    margin-left: 4%;
}

.admin-login {
    background-color: darkseagreen;
    display: inline-block;
    position: fixed;
    top: 30vh;
    left: 40vw;
    z-index: 1000000;
    padding: 4%;
    border-radius: 5%;
}